
html {
  background-color: darkolivegreen;
}

body {
  margin: 30px 50px;
}

.displaybox {
  display: flex;
  align-content: center;
  width: 450px;
  height: 100px;
  background-color: lightblue;
}

h3 {
  text-align: center;
}

input {
  width: 75px;
  text-align: center;
}

Button {
  margin-left: 10px;
}

